<!-- Footer -->
<footer>
	
	
<div class="row">
		
	<div class="col-lg-12">
		<p>Copyright &copy; 2016 - {{site.owner}} </p>
	</div>
	
	<div class="col-lg-3">
		<!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->
		<img class="img-responsive center-block" src="{{site.baseurl}}/img/storage4grid_logo.png">
	</div>
			
	<div class="col-lg-2">
		<h2 class="footer-heading"></h2>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
			  <li><a href="{{site.baseurl}}/pages/contacts.html"><i class="fa fa-envelope" style="font-size: 1em; color: #a8a8a8;"></i> Contacts</a></li>
          </li>
          
        </ul>

	</div>		
		

	<div class="col-lg-4">
		<h2 class="footer-heading"></h2>
		<p>{{ site.description | escape }}</p>
	</div>
	<div class="col-lg-3">
		<h2 class="footer-heading"></h2>
		<img style="width:250px" class="img-responsive center-block" src="{{site.baseurl}}/img/euflag2.png">
	</div>						
		
</div>	

</footer>
