<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="icon" type="image/png" href="{{site.baseurl}}/img/favicon.png">

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<!-- Bootstrap Core CSS -->
	<link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{{site.baseurl}}/css/modern-business.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{{site.baseurl}}/css/storage4grid.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="{{site.baseurl}}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	    <!-- jQuery -->
    <script src="{{site.baseurl}}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
        
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
	<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website only uses cookies to collect anonymous usage statistics through Google Analytics, a web analytics service provided by Google, Inc. (“Google”)","dismiss":"Got it!","learnMore":"More info","link":"{{site.baseurl}}/pages/cookiepolicy.html","theme":"dark-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->

    
    
    
    
    
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#efefef",
                        "text": "#404040"
                    },
                    "button": {
                        "background": "#8ec760",
                        "text": "#ffffff"
                    }
                }
            })});
    </script>

{% include analytics.html %}

</head>
