    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="fill" style="background-image:url('{{site.baseurl}}/img/carousel1.jpg');"></div>
                <div class="carousel-caption">
                    <div class="carouseltext"><h2 class="carouseltext">Energy Storage Systems (ESS) from Planning to Evaluation</h2></div>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{site.baseurl}}/img/carousel3.jpg');"></div>
                <div class="carousel-caption">
                    <div class="carouseltext"><h2 class="carouseltext">Cooperative Charging of Electrical Vehicles (EVs)</h2></div>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{site.baseurl}}/img/carousel4.jpg');"></div>
                <div class="carousel-caption">
                    <div class="carouseltext"><h2 class="carouseltext">Coordination of ESS in the Distribution Grid and at User Premises</h2></div>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{site.baseurl}}/img/carousel2.jpg');"></div>
                <div class="carousel-caption">
                    <div class="carouseltext"><h2 class="carouseltext">Cooperative ESS featuring the Advanced Energy Router</h2></div>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{site.baseurl}}/img/carousel0.jpg');"></div>
                <div class="carousel-caption">
                    <div class="carouseltext"><h2 class="carouseltext">Fostering Uptake of Energy Storage Systems </h2></div>
                </div>
            </div>            
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
