<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{site.baseurl}}/pages/index.html"><img style="width:140px; margin:-5px; padding:0px;" class="img-responsive" src="{{site.baseurl}}/img/storage4grid_logo_justtext_reversed.png"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{site.baseurl}}/pages/index.html">Home</a>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Storage4Grid <b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/concept.html">Concept</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/tobjectives.html">Technical Objectives</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/sobjectives.html">Strategic Objectives</a>
						</li>
						<!--<li>
							<a href="{{site.baseurl}}/pages/outcomes.html">Expected Outcomes</a>
						</li>-->
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Scenarios <b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/scenario1.html">Advanced Cooperative Storage Systems</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/scenario2.html">Cooperative EV Charging</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/scenario3.html">Storage Coordination</a>
						</li>
					</ul>
				</li>				
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">International Partnership <b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/partners.html">Partners</a>
						</li>
						
						<li>
							<a href="{{site.baseurl}}/pages/esg.html">External Stakeholder Group</a>
						</li>
						
						<!--
						<li>
							<a href="{{site.baseurl}}/pages/esg-opencall.html">Call for ESG Members</a>
						</li>						
						-->
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Results <b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/deliverables.html">Deliverables</a>
						</li>
						<!--
						<li>
							<a href="{{site.baseurl}}/pages/publications.html">Publications</a>
						</li>
						-->
					</ul>
				</li>
				
				<li>
					<a href="{{site.baseurl}}/pages/news.html">News</a>
				</li>
				
				<li>
					<a href="{{site.baseurl}}/pages/contacts.html">Contacts</a>
				</li>																								

				<!-- 
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sample Layouts <b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-index.html">Index</a>
						</li>
						
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-about.html">About</a>
						</li>							
													
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-contact.html">Contact</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-services.html">Services</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-portfolio-1-col.html">1 Column Portfolio</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-portfolio-2-col.html">2 Column Portfolio</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-portfolio-3-col.html">3 Column Portfolio</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-portfolio-4-col.html">4 Column Portfolio</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-portfolio-item.html">Single Portfolio Item</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-blog-home-1.html">Blog Home 1</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-blog-home-2.html">Blog Home 2</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-blog-post.html">Blog Post</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-full-width.html">Full Width Page</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-sidebar.html">Sidebar Page</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-faq.html">FAQ</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-404.html">404</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/examples/s4g-pricing.html">Pricing Table</a>
						</li>                                                        
					</ul>
				</li>
				-->
				
				
				
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
